/* Coolors Exported Palette - coolors.co/ffffff-00171f-003459-007ea7-00a8e8 */

$light-background: #ffffff; //rgba(255, 255, 255, 100)
$text: #00171f; //rgba(0, 23, 31, 100)
$dark: #003459; //rgba(0, 52, 89, 100)
$mid: #007ea7; //rgba(0, 126, 167, 100)
$light: #00a8e8; //rgba(0, 168, 232, 100)
